.navbar {
  background-color: #1E2A38;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  font-weight: 100;
  font-size: 2.5rem;
  font-family: 'Josefin Sans', sans-serif;
}

/* Links */
.navLinks {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  font-family: 'PT Sans Caption', sans-serif;
}

.link {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

/* Burger icon */
.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  transition: 0.3s ease;
}

/* Responsive */
@media (max-width: 932px) {
  .burger {
    display: flex;
  }

  .navLinks {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #1E2A38;
    width: 100%;
    flex-direction: column;
    align-items: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
  }

  .navLinks.active {
    max-height: 300px;
    padding: 1rem 0;
  }

  .navLinks li {
    margin: 0.5rem 0;
  }
}
